@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>NHL Studenten Volg Systeem</h1>
    <p class="lead">Het NHL Studenten Volg Systeem stelt u in staat om de voortang van studenten bij te houden.</p>
    <p><a href="/" class="btn btn-primary btn-lg">Inloggen &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overzichtelijk dashboard</h2>
        <p>
            NHL SVS biedt een overzichtlijke dashboard om zo de voortang van
            studenten bij te houden en geeft een waarschuwing voor studenten 
            die extra aandacht nodig hebben.
        </p>
    </div>
    <div class="col-md-4">
        <h2>SLB gesprekken</h2>
        <p>
            Plan makkelijk SLB gesprekken in met studenten en leg gegevens en 
            gemaakte afspraken vast.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Aanwezigheid studenten</h2>
        <p>
            Houdt de aanwezigheid van studenten bij college's, projecten, practica en tentamens 
            makkelijk bij en bekijk rapportages per klas.
        </p>
    </div>
</div>