@model StudentFollowingSystem.ViewModels.CounselerDashboardModel

@{
    ViewBag.Title = "Dashboard";
}


<div class="container">
    <h2>Afspraken voor deze week</h2>
    <ul class="list-group">
        @if (Model.Appointments.Count > 0)
        {
            foreach (var appointment in Model.Appointments)
            {
                <li class="list-group-item">@appointment.Student.FirstName @appointment.Student.LastName (@appointment.DateTime.ToString("dddd d MMMM HH:mm"))</li>
            }
        }
        else
        {
            <li class="list-group-item">Er zijn deze week geen afspraken gepland.</li>
        }
    </ul>
</div>

