@model IEnumerable<StudentFollowingSystem.ViewModels.ClassModel>

@{
    ViewBag.Title = "Overzicht";
}

<h2>Overzicht</h2>

<p>
    @Html.ActionLink("Nieuwe klas toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Klas naam
        </th>
        <th>
            Afdeling
        </th>
        <th>
            SLB'er
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Section
        </td>
        <td>
            @item.Counseler.FullName
        </td>
        <td>
            <a href="/klas/wijzigen/@item.Id">Wijzigen</a> |
            <a href="/klas/verwijderen/@item.Id">Verwijderen</a>
        </td>
    </tr>
}

</table>
