@model StudentDashboardModel

@{
    ViewBag.Title = "Studenten Dashboard";
}

<div class="container">
    <div class="col-md-6">
        <h3>Aankomende lessen:</h3>
        <div class="list-group">
        @if (Model.Subjects.Count > 0)
        {
            foreach (var subjects in Model.Subjects)
            {
                <a class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">@subjects.Name</h4>
                    <p class="list-group-item-text">
                        @subjects.StartDate.ToString("HH:mm") - @subjects.EndDate.ToString("HH:mm")<br />
                        
                        @subjects.Locatie<br />
                    </p>
                </a>

            }
        }
        else
        {
        <p class="list-group-item">Er zijn geen lessen meer voor vandaag.</p>
        }
</div>
    </div>
</div>
