@{
    ViewBag.Title = "Studenten importeren";
}

<h2>Studenten importeren</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">>
        <p>Kopieer het CSV bestand in het veld hieronder.</p>
        <textarea name="csv" id="csv" class="form-control"></textarea>
    </div>

    <div class="btn-group" style="margin-top: 15px">
            <button type="submit" class="btn btn-primary">Importeren</button>
    </div>
}
