@model PresenceModel
@{
    ViewBag.Title = "Aanwezigheid opgeven";
}

<h2>Aanwezigheid opgeven</h2>

@if (Model.AlreadyPresent)
{
    <p class="bg-success" style="margin-top: 15px; padding: 15px">
        Je hebt je aanwezigheid voor dit onderdeel al opgegeven.
    </p>
}
else if (Model.PastSubject)
{
    <p class="bg-danger" style="margin-top: 15px; padding: 15px">
        Je hebt dit onderdeel gemist en kunt niet meer je aanwezigheid opgeven.
    </p>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Model.Subject.Name van @Model.Subject.StartDate.ToString("HH:mm") tot @Model.Subject.EndDate.ToString("HH:mm")</h4>
        </div>

        <div class="btn-group-lg">
            <button type="submit" class="btn btn-lg btn-success">Ik ben aanwezig</button>
        </div>
    }
}