@model PresenceModel
@{
    ViewBag.Title = "Aanwezigheid opgeven";
}

<h2>Aanwezigheid opgeven</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Subject.Name van @Model.Subject.StartDate.Value.ToString("HH:mm") tot @Model.Subject.EndDate.Value.ToString("HH:mm")</h4>
    </div>

    <div class="btn-group-lg">
        <button type="submit" class="btn btn-lg btn-success">Ik ben aanwezig</button>
    </div>
}